/* Estilos para las capas de texto y anotaciones de react-pdf */
.react-pdf__Page {
  position: relative;
}

.react-pdf__Page__textContent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;
}

.react-pdf__Page__textContent span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.react-pdf__Page__annotations {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
